body{background-color: rgba(0, 0, 255, 0.025);}
.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
}
nav div button{ border: none;padding: 10px;border-radius: 10px;width: 100px;background-color:#4E47FF;color: white;font-weight: 600;height: 40px;align-items: center;margin: 100px;}
nav img{width: 10%;}
nav div{display: flex;justify-content: space-between;align-items: center;margin: 0 100px;}
.heading,.section6-div{font-size: x-large;text-align:center;justify-content: center;display: flex;}
.bg{background-image: url(Hero-bg.png);height: 500px;}
.stay,.section-5-button-div{display: flex;justify-content: center;margin: 20px;}
.stay-button{border: none;background-color:#4E47FF;color: white;font-weight: 600;height: 40px;align-items: center;border-radius: 10px;width:130px ;}
.section1-heading{font-weight: 700;font-size: 40px;}
.p,.section-6-para1{color: rgba(0, 0, 0, 0.521);}
.btn{border: none;background-color:#4E47FF;color: white;font-weight: 600;height: 40px;align-items: center;border-radius: 10px;width:200px ;}
.flex{display: flex;justify-content: space-around;margin: 100px;}
.flex img,.section6 img{border-radius: 20px;}
.heading2 {display: flex;justify-content: center;font-family: "Inter", sans-serif;font-weight:650;font-size: xx-large;}
.section2{margin: 0px 100px;background-color: #4d47ff22;border-radius: 20px;font-family: "Inter", sans-serif;padding: 10px 0px;}
.data{display: flex;justify-content: space-around; font-family: "Inter", sans-serif;}
.datas{font-size:50px;color: rgba(0, 0, 255, 0.77);font-weight: 900;margin: 0;}
.paragraph{justify-content: center; display: flex;font-family: "Inter", sans-serif;color: rgba(0, 0, 0, 0.509);margin-bottom: 50px;}
.heading3{font-family: "Raleway", sans-serif;display: flex;justify-content: center;margin-top: 100px;font-size: xx-large;}
.avatar{display: flex;align-items: center;}
.star{display: flex;}
.img-icon{border-radius: 50%;}
.all{display: flex;margin: 0 100px;padding: 0 50px;gap: 10px;justify-content: center;}

.card{padding: 50px; border-radius: 10px;background-color: white;}

.card h3{color: rgba(0, 0, 0, 0.532);}
.dates{color: rgba(0, 0, 0, 0.354);}
.heading4{align-items: center;display: flex;}
.message{width: 300px; padding-bottom: 50px;padding-left: 5px;padding-top: 5px; border-color: rgba(0, 0, 0, 0.358);}

.form{display: flex;margin: 50px 200px;padding: 50px 50px; gap: 130px;font-family: "Raleway", sans-serif;justify-content: center;}
.from-placeholders{width: 400px;font-family: "Inter", sans-serif;}
.heading4 h1{font-weight: 800; font-size: 50px;}
.text{height: 30px;width: 300px;border-color: rgba(0, 0, 0, 0.358);border-radius: 5px;}
.submit-button{border: none;width: 310px;height: 50px;margin: 30px 0;border-radius: 10px;background-color: blue;color: white;}
.footer-img{width: 100px;align-items: center;display: flex;margin-left: 350px;}
.list{display: flex;color: rgba(0, 0, 0, 0.553);}
.list li {list-style: none;padding: 0 50px;}
.footer-main{justify-content: center;display: flex;}
.footer-description{color: rgba(0, 0, 0, 0.505);}
  .submit-button:hover {
      background-color: #0056b3;
      background-color: red;}
      .section-6-para1{justify-content: center;display: flex;}
      .section-6-img{display: flex;justify-content:center;}
      .section6{background-color: white;margin: 0 200px;}